<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/registration.js"></script>
<link rel="stylesheet" href="/css/index.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="container">

	 <div id="main-registration-container">
        <div id="register">
        <h3 align="center">Registration Page</h3>
                      <form name="register" id="reg">
               
          
                <input type="text" name="username" placeholder="username"  id="username"></input>
                <div class="errmsg"></div>
               
                <input type="email" name="email" placeholder="useremail" id="useremail"></input>
                <div class="errmsg"></div>
              
                <input type="text" name="phoneno" placeholder="userphono" id="userphoneno"></input>
                <div class="errmsg"></div>
                
                <input type="password" name="password" placeholder="userpassword" id="userpassword"></input>
                
                <div class="errmsg"></div>
                
                
                <input type="button" class="button" id="submit" value="Register" ></input>
           </form>
        </div>
      </div>
</body>

</html>