.App {
  text-align: center;
  align-content: center;
  align-items: center;
}
.homenav {
  height: 35px;
  background: rgba(102, 96, 102, 0.993);
  text-decoration-color: beige;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.login,
.register {
  overflow: visible;
  width: 30%;
  padding: 8px 12px;
}
.loginaplly,
.signupapply {
  background-color: black;
  overflow: visible;
  width: 30%;
  color: blanchedalmond;
  padding: 8px 12px;
}
.errmsg {
  color: red;
  margin-bottom: 10px;
}
.successmsg {
  color: green;
  margin-bottom: 10px;
}
.navfont {
  font-size: 20px;
  color: white;
  font-weight: 800;
  text-decoration: none;
}
.homenavfont {
  font-size: 15px;
  color: white;
  font-weight: 800;
  text-decoration: none;
}
.nav-item3 {
  justify-content: right;
}
.items {
  text-decoration-color: aliceblue;
}
.co {
  padding: 20px;
  display: inline-block;
  width: 15em;
  height: 11em;
  box-shadow: rgb(199, 127, 18);
  background-color: rgb(184, 178, 169);
  text-align: center;
  margin: 20px;
  overflow: auto;
}
.countAsave {
  margin-top: 3em;
}
.popup-content {
  height: 15em;
  width: 15em;
  background-color: aqua;
}
.form-control {
  width: 20%;
}
.arrtform {
  align-self: start;
  align-items: center;
  margin-left: 35%;
  margin-top: 5%;
}
.logincontainer {
  text-align: center;
}
